body {
  background-color: #0a0a23;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
}

/* Pop-up Styles */

#settingsButton{
  float: right;
}

#popUp{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 10, 35,.7);
  display: none;
  justify-content: center;
  align-items: center;
}

#popUpBox{
  position: relative;
  background-color: #ffffff;
  width: 300px;
  color: #0a0a23;
  padding: 20px;
}

#popUpBox *{
  text-align: center;
}

#popUpBox .popUpInputs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
  margin: 10px 0;
}

.popUpInputs input,
#popUpBox button{
  width: 100%;
}

.popUpOpen{
  display: flex !important;
}

#popUpClose{
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 20px;
  cursor: pointer;
}